<!doctype html>
<html lang="en">
  <head>
    <title>AVADA RESTAURANT</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CDN fontawesom -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- link css -->
    <link rel="stylesheet" href="./dist/css/app.css">
  </head>
  <body>
    <div id="app">
      <!-- header -->
      <header>
          <div class="container-big ">
            <div class="header-left">
              <div class="logo">
                <img src="./dist/img/logo-restaurant.png" alt="">
              </div>
              <!-- slogan -->
              <div>
                <hr>
                <span>the best table in town</span>
              </div>
              <!-- slogan -->
              <div class="experience">
                <h1>fine dining experience</h1>
                <p>Pellentesque vitae viverra risus, sagittis. Venenatis ridiculus scelerique nisi in urna nulla. Sit tempor a et nisl, ac felis.</p>
                <a href="#"> explore the menu</a>
              </div>
            </div>

            <div class="header-right">
              <div class="tenda">
                <nav>
                  <a v-for='element in menu' href="#">
                    {{element.link}} 
                    <span v-if="element.tag != ''">{{element.tag}}</span> 
                  </a>
                  <a href="#"><i class="fas fa-shopping-cart"></i></a>
                </nav>
              </div>
            </div>

          </div>
      </header>
      <!-- /header -->

      <!-- main -->
      <main>
        <!-- section 1 -->
        <div id="section-one">

          <div class="two-col">
            <div class="col-left">
              <p><strong>hat tellus, felis risus at</strong> mattis mattis. Eget euismod semper eget tortor, donec amet, blandit. Tristique facilisi faucibus elementum feugiat in nam in feugiat. Ipsum odio etiam duis facilisis amet vulputate.</p>
              <h2>food is our common ground, a universal experience.</h2>
              <p>Tristique tempus condimentum diam donec. Condimentum ullamcorper sit elementum hendrerit mi nulla in consequat, ut. Mentus, nullam scelerique netus viverra dui.</p>
              <img src="./dist/img/signature.jpg" alt="firma">
            </div>
            <div class="col-right">
              <img src="./dist/img/hover-image1.png" alt="piatto tipico japonese $22">
            </div>
          </div>

          <div class="tre-col">
            <div>
              <img src="./dist/img/sushi-1.png" alt="sushi">
              <h4>the best table in town</h4>
              <hr>
              <p>Sed aenean egestas ut aliquam turpis mauris, molestie. Vitae tellus tempor sem id tempus neque, tellus turpis. Morbi tortor id gravida aliquet.</p>
              <a href="#">explore the menu</a>
            </div>
            <div>
              <img src="./dist/img/sushi-2.png" alt="sushi">
              <h4>perfect for groups</h4>
              <hr>
              <p>Quam eu proin sit massa condimentum. Volutpat non pulvinar aliquet nunc. Orci elementum in aliquet a gravida vivamus aliquam turpis vitae.</p>
              <a href="#">make a reservation</a>
            </div>
            <div>
              <img src="./dist/img/sushi-3.png" alt="sushi">
              <h4>fresh produce everyday</h4>
              <hr>
              <p>Hendrerit amet, volutpat leo non, commodo maecenas scelerisque tincidunt. Morbi vulputate morbi purus quisque sit sagittis orci elementum gravida.</p>
              <a href="#">learn more about us</a>
            </div>
          </div>
        </div>
        <!-- /section 1 -->

        <!-- section 2 -->
        <div id="section-two">
          <div class="proposte">
            <div class="prop-left"></div>
            <div class="prop-right">
              <!-- slogan -->
              <div>
                <hr>
                <span>fine dining experience</span>
              </div>
              <!-- slogan -->

              <!-- experience -->
              <div class="experience">
                <h2>the best table in town</h2>
                <p>Pellentesque vitae viverra risus, sagittis. Venenatis ridiculus scelerique nisi in urna nulla.</p>
                <a href="#">explore the menu</a>
              </div>
              <!-- experience -->
            </div>
          </div>
        </div>
        <!-- /section 2 -->

        <!-- section 3 -->
        <div id="section-tre">
          <h4>What critics are saying about us</h4>
          <div class="two-col">
            <div class="col-left">
              <img src="./dist/img/blog72x.jpg" alt="">
            </div>
            <div class="col-right">
              <span>meggy stewart</span>
              <h4>new york times</h4>
                <ul class="stelle">
                  <li class="stelle-link">
                    <i v-for="num in 5" class="fas fa-star"></i>
                  </li>
                </ul>
              <hr>
              <p>Non arcu mauris tortor ultrices mollis tellus euismod fermentum. Habitant amet tincidunt id sapien accumsan sed at.</p>
              <p>Mmalesuada ullamcorper amet. Pretium pretium dignissim nisi.</p>
              <a href="#">read full article</a>
            </div>
          </div>

          <div class="two-col-bottom">
            <div class="col_left">
              <div class="tenda">
                <span>mary maxey</span>
                <h4>the guardian</h4>
                <ul class="stelle">
                  <li class="stelle-link">
                    <i v-for="num in 5" class="fas fa-star"></i>
                  </li>
                </ul>
                <hr>
                <p>Non arcu mauris tortor ultrices mollis tellus euismod fermentum. Habitant amet tincidunt id sapien accumsan sed.
                </p>
                <a href="#">read full article</a>
              </div>
            </div>
            <div class="col_right">
              <div class="tenda">
                <span>patrick monroe</span>
                <h4>globe and mail</h4>
                <ul class="stelle">
                  <li class="stelle-link">
                    <i v-for="num in 5" class="fas fa-star"></i>
                  </li>
                </ul>
                <hr>
                <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla porttitor accumsan tincidunt.
                </p>
                <a href="#">read full article</a>
              </div>
            </div>
          </div>

        </div>
        <!-- /section 3 -->

        <div id="plate">
          <img src="./dist/img/page52x.jpg" alt="piatto  di ravioli al vapore">
        </div>

        <!-- section 4 -->
        <div id="section-for">
          <h4>Latest news & promotions</h4>
          <hr>
          <div class="colon-tre">
            <div>
              <img src="./dist/img/blog92x.jpg" alt="cappuccino">
              <h5>the best coffee in town</h5>
              <span>By admin | January 7th, 2202 | Categories: News</span>
            </div>
            <div>
              <img src="./dist/img/blog72x.jpg" alt="barlady">
              <h5>discover our new menu</h5>
              <span>By admin | January 7th, 2202 | Categories: News</span>
            </div>
            <div>
              <img src="./dist/img/blog82x.jpg" alt="metodo di pagamento">
              <h5>we now accept square!</h5>
              <span>By admin | January 7th, 2202 | Categories: News</span>
            </div>
          </div>
        </div>
        <!-- /section 4 -->

        <!-- section 5 -->
        <div id="section-five">
          <div class="proposte">
            <div class="prop-left"></div>
            <div class="prop-right">
              <!-- slogan -->
              <div>
                <hr>
                <span>enjoy your meal at home</span>
              </div>
              <!-- slogan -->
          
              <!-- experience -->
              <div class="experience">
                <h2>takeout now available</h2>
                <p>Pellentesque vitae viverra risus, sagittis. Venenatis ridiculus scelerique nisi in urna nulla non arcu moris tortor.</p>
                <a href="#"><i class="fas fa-car"></i> view takeout menu</a>
              </div>
              <!-- experience -->
            </div>
          </div>

        </div>
        <!-- /section 5 -->

        <!-- section menu -->
        <div id="section-menu">

          <div class="menu" id="menu-left">
            <h3>Hors D'oeuvres</h3>
            <div class="piatto" v-for="el in hors">
              <div class="description">
                <h4>{{el.name}}</h4>
                <span>$ {{el.price}}</span>
              </div>
              <p>{{el.ingredients}}</p>
            </div>
          </div>

          <div class="menu" id="menu-center">
            <div class="tenda">
              <h3>main course</h3>
              <div class="piatto" v-for="el in course">
                <div class="description">
                  <h4>{{el.name}}</h4>
                  <span>$ {{el.price}}</span>
                </div>
                <p>{{el.ingredients}}</p>
              </div>
            </div>
          </div>

          <div class="menu" id="menu-right">
            <h3>desserts</h3>
            <div class="piatto" v-for="el in desserts">
              <div class="description">
                <h4>{{el.name}}</h4>
                <span>$ {{el.price}}</span>
              </div>
              <p>{{el.ingredients}}</p>
            </div>
          </div>
          
        </div>
        <!-- /section menu -->

        <!-- section 6 -->
        <div id="section-six">
          <div class="info">
            <div class="offert">
              <h3>braised abalone</h3>
              <span>$ 52</span>
            </div>
            <hr>
            <p>Pretium accumsan porttitor leo gravida mollis imperdiet. Fringilla nibh pharetra sociis leo amet.</p>
            <a href="#">view in the menu</a>
          </div>
        </div>
        <!-- /section 6 -->
      </main>
      <!-- /main -->

      <!-- footer -->
      <footer>
        <div class="contatti">
          <div class="intestazione">
            <img src="./dist/img/logo-restaurant.png" alt="logo avada">
            <p>Quam eu proin sit massa condimentum. Volutpat non pulvinar aliquet nunc. Quam eu proin sit massa condimentum.</p>
            <div class="socials">
              <div v-for='el in social'>
                <i :class="el.family + el.prefix + el.name"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <p>Copyright 2021 - 2019 Avada | All Rights Reserved | Powered by <strong>WordPress</strong> | <strong>ThemeFusion</strong></p>
        </div>
      </footer>
      <!-- /footer -->

    </div>
    <!-- CDN vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- vue js -->
    <script src="./dist/js/app.js"></script>
  </body>
</html>