header{
    background-color: $black;
    .container-big{
        display: flex;
    }
}

.header-left{
    width: 40%;
    padding: 30px 80px;

    .logo{
        margin-bottom: 130px;
    }

    div{
        @include slogan;
        hr{
            @include slg-hr;
        }
        span{
            @include slg-span;
        }
    }

    .experience{
        @include position;
        h1{
            @include title;
        }
        p{
            @include text;
        }
        a{
            @include button;
        }   
    }

}

.header-right{

    width: 60%;
    height: 950px;
    background-image: url(../../dist/img/slider52x.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

    .tenda{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(3, 3, 3, 0) 38.11%);
    
        nav{
            padding: 50px 100px;
            display: flex;
            justify-content: space-between;
            
            a{
                color: $silver;
                font-weight: 600;
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;

                &:hover{
                    color: white;
                }
                
                span{
                    border: 1px solid $silver;
                    font-size: .8rem;
                    padding:0 5px;
                    margin: 5px;
                }
            }
        }

        #sconti{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 0 10px;
            &>div{
                width: 60px;
                height: 60px;
                background-color: white;
                border-radius: 5px;
                margin: 3px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                i{
                    font-size: 1.6rem;
                }
                span{
                    font-size: 0.75rem;
                    font-weight: 600;

                }
            }
            .offerta{
                div{
                    display: flex;
                    .valuta{
                        color: $christi;

                    }
                    div{
                        span{
                            font-size: 1.5rem;
                            font-weight: 800;
                            color:$christi;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                    }
                }
                span{
                    font-size: 0.75rem;
                }
            }
        }
    }
    

}