/* color cube */
$black: #030303;
$tundora: #434243;
$silver: #bcbcbc;
$almond-frost: #937a6b;
$oregon: #944402;
$eastern-blue: #2787b2;
$cristine: #f3790c;
$equator: #e3bd5e;
$christi: #69a10e;
/* /color cube */

/* media cut */
$zeus: #1f1914;
$sisal: #d6cbbd;
$mantle: #88979d;
$fiery-orange: #b44a13;
$slate-gray: #6f7f8c;
/* /media cut */

/* material design */
$driftwood: #b7814d;
$flint: #676059;
$fiery-Orange: #af4913;
$english-walnut: #392b22;
$tacao: #f2bf87;
/* /material design */
