/* import font */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* -import font */

/* file comuni */
@import 'partials/common.scss';
@import 'partials/variables.scss';
/* -file comuni */

/* header */
@import 'partials/header.scss';
/* /header */

/* main */
@import 'partials/section-one.scss';
@import 'partials/section-two.scss';
@import 'partials/section-tre';
@import 'partials/section-for';
@import 'partials/section-five';
@import 'partials/section-menu';
@import 'partials/section-six';
/* /main */

/* footer */
@import 'partials/footer';
/* /footer */

#plate{
    width: 100%;
    img{
        width: 100%;
        margin: 100px 0;
    }
    
}


